
<div class="container">
    <h1 class='mt-5 mb-5'>My Watchlist</h1>

    <mat-spinner *ngIf="isWait" diameter="70" style="margin:5rem auto;"></mat-spinner>

    <div *ngIf="!isWait">

        <ngb-alert *ngIf="!hasWatchlist" type="warning" [dismissible]="false" style="text-align: center;">
            Currently you don't have any stock in your watchlist.
        </ngb-alert>

        <div class="card mb-3" *ngFor="let stock of watchlist" >
            <div class="card-body" (click)="openDetails(stock.ticker)">
                <button type="button" class="close" aria-label="Close" (click)="delete(stock.ticker)">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="col-6">
                        <p class="ticker"> {{ stock.ticker }} </p>
                        <p class="name"> {{ stock.name }} </p>
                    </div>

                    <div class="col-6" [ngStyle]="stock.change == 0 ? {'color':'black'} : (stock.change > 0 ? {'color':'#28803f'} : {'color': '#ff0000'})">
                        <p class="text-right price"> {{ stock.price }} </p>
                        <p class="text-right changes"> 
                            <svg *ngIf="stock.change > 0" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="#28803f" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                            </svg>
                            <svg *ngIf="stock.change < 0" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="#ff0000" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                            <svg *ngIf="stock.change == 0" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="black" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                            {{ stock.change }} ({{ stock.changePercentage }}%)
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
